<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Home_Page</title>
    </head>
    <body>
        <!DOCTYPE html>
        <html>
            <head>
                <style>
                    table, th, td {
                      border: 1px solid black;
                      border-collapse: collapse;
                    }
                    th, td {
                      padding: 5px;
                      text-align: left;
                    }
                </style>
            </head>
            <body>

            <center><h2>COLLEGE</h2></center>
            <table style="width:100%">
                  <tr>
                    <th>CATAGORIES</th>
                    <th>SELECT</th>
                  </tr>
                  <tr>
                    <td>STUDENT LOG IN </td>
                    <td><button><a href="/std_br/login/">LOG IN</a></button><br></td>
                  </tr>
                  <tr>
                    <td>STAFF LOG IN</td>
                    <td><button><a href="/staff/login/">LOG IN</a> </button></td>
                  </tr>
                <tr>
                    <td>STUDENT APPLICATION</td>
                    <td><button><a href="/std_br/2/save_student/">Click Here</a> </button></td>
                </tr>
            </table>

        </body>
    </html>

    </body>
</html>